<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <h4 class="col-lg-4 mb-5 text-center">本当に退会しますか？</h4>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-center">
      <p>退会すると、会員登録情報や<br />
      これまでの購入履歴が閲覧できなくなります。<br />
      退会する場合は、「退会する」をクリックしてください。</p>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3 mt-4 text-center"><%=link_to "退会しない", public_customers_my_page_path, style: 'width:150px', class: 'btn btn-primary' %></div>
    <div class="col-lg-3 mt-4 text-center">
      <%= form_with model: @customer, url: public_customers_unbsubscribe_path, method: :patch do |f| %>
        <%= f.hidden_field :is_deleted, :value => "true" %>
        <%= f.submit "退会する", style: 'width:150px', class: 'btn btn-danger' %>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>