<%- if controller_name != 'sessions' %>
  <div class="container mt-4 offset-md-4">
    <%= link_to "こちら", new_session_path(resource_name), class: "text-center btn btn-outline-primary", style: 'width:100px' %>　からログインしてください。
  </div>
<% end %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="container mt-4 offset-md-4">
    <%= link_to "こちら", new_registration_path(resource_name), class: "btn btn-outline-success", style: 'width:100px' %>　から新規登録を行ってください。
  </div>
<% end %>