<div class="container-fluid border border-dark">
  <div class="row py-auto border">
    <div class="col border">
        <p class="text-center">
            ジャンル検索
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col border" style="height: 500px;">
        アアア
    </div>
  </div>
</div>