<div class="container-fluid border border-dark">
  <div class="row">
    <p class="col text-center border">
      ジャンル検索
    </p>
  </div>
  <div class="row">
    <div class="col border" style="height: 500px;">
        アアア
    </div>
  </div>
</div>