<% if customer_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link border border-dark font-weight-bold" href="/public/customers/my_page">マイページ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark ms-2" href="#">商品一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark ms-2" href="/public/cart_items">カート</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark ms-2" href="/customers/sign_out">ログアウト</a>
        </li>
      </ul>
    </div>    
<% else %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link border border-dark font-weight-bold" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark ms-2" href=/public/items>商品一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark ms-2" href="/customers/sign_up">新規登録</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border border-dark ms-2" href="/customers/sign_in">ログイン</a>
        </li>
      </ul>
    </div>
<% end %>