<div class='container'>
  <div class='row'>
    <h1 class="mx-auto py-5 text-center">About</h1>
  </div>

  <div class='row'>
    <p class="px-3 mx-auto text-center">
      ながのCAKEは全国配送可能なケーキ屋さんです。</br>
      お子様からお年寄りまでお召し上がりいただけるよう、</br>
      様々なバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。
    </p>
  </div>
  <div class='container border border-dark' style="height: 200px; width: 400px">
    <div class='row'></div>
  </div>
</div>


</div>