<div class="container-fluid">
  <div style="height: 600px; background-color: rgba(255,0,0,0.1);">
  <div class="row h-100">
    <div class="col-3 bg-success">
      <%= render "public/shared/sidebar" %>      
    </div>
    <div class="col bg-info">
      <div class="flex-row">
        <div class="d-flex justify-content-center bg-warning">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。</br>
        </div>
      </div>
    </div>
  </div>
</div>